.env
.secrets.env
.secrets1.env
.secrets2.env
.secrets3.env
.secrets4.env
venv/
winvenv/
__pycache__/
*.pyc
*.zip
*.backup
*.backup_*
*.bak
*.bak_*
server.log
reports/
pruebas_legible*.txt
resultados_pruebas.csv
